{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="csrf-token" content="{{ csrf_token }}">
  <title>لیست کارها</title>
  <link rel="stylesheet" href="{% static 'CSS/main.css' %}" />
</head>
<body>
  <div class="todo-container">
    <h2>✅ لیست کارهای روزانه</h2>

    <div class="input-section">
      <input type="text" id="todo-input" placeholder="کارات یادت نره😅 اینجا بنویس" />
      <button onclick="addTodo()">➕</button>
    </div>

    <ul id="todo-list"></ul>

    <div class="logout-container">
      <form method="post" action="{% url 'account:logout' %}">
        {% csrf_token %}
        <button type="submit" class="logout-button">🚪 خروج</button>
      </form>
    </div>
  </div>

  <script src="{% static 'Js/main.js' %}"></script>
</body>
</html>